// Main Colors
$cardano-blue: #286ED0;

// Background Colors
$primary-background-color: rgb(249, 249, 249);
$secondary-background-color: rgb(255, 255, 255);

// Border Colors
$primary-border-color: rgb(232, 232, 232);

// Text Colors
$text-color: rgb(0, 0, 0);
$background-text-color: rgb(153, 153, 153);
