@import './colors.scss';
@import './layout.scss';

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: $large-space;

  p {
    color: $background-text-color;
  }
}
